body {
    background-color: rgb(51, 51, 51);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: left;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.207);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    padding: 20px;
}

h3{
    font-style: italic;
}

mark{
    background-color: rgb(36, 36, 36);
    color: white;
}